<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.CustomerCaseMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.CustomerCase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="industry_id" property="industryId" jdbcType="INTEGER" />
    <result column="industry_name" property="industryName" jdbcType="VARCHAR" />
    <result column="pic_id" property="picId" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="purpose_id" property="purposeId" jdbcType="INTEGER" />
    <result column="purpose_name" property="purposeName" jdbcType="VARCHAR" />
    <result column="purpose_col1" property="purposeCol1" jdbcType="VARCHAR" />
    <result column="purpose_col2" property="purposeCol2" jdbcType="VARCHAR" />
    <result column="purpose_col3" property="purposeCol3" jdbcType="VARCHAR" />
    <result column="pinpai_story" property="pinpaiStory" jdbcType="VARCHAR" />
    <result column="pinpai_actuality" property="pinpaiActuality" jdbcType="VARCHAR" />
    <result column="customer_say" property="customerSay" jdbcType="VARCHAR" />
    <result column="market_plan" property="marketPlan" jdbcType="VARCHAR" />
    <result column="effect_prediction" property="effectPrediction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="proposal_id" property="proposalId" jdbcType="INTEGER" />
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, module_id, industry_id, pic_id, customer_name, purpose_id, purpose_col1, 
    purpose_col2, purpose_col3, pinpai_story, pinpai_actuality, customer_say, market_plan, 
    effect_prediction, status, proposal_id,industry_name,purpose_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    a.id, a.title, a.content, a.module_id, a.industry_id, a.pic_id, a.customer_name, a.purpose_id, a.purpose_col1,
    a.purpose_col2, a.purpose_col3, a.pinpai_story, a.pinpai_actuality, a.customer_say, a.market_plan,
    a.effect_prediction, a.status, a.proposal_id,b.url,a.industry_name,a.purpose_name
    from h_customer_case a left join h_pic_video b on a.pic_id = b.id
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from h_customer_case
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectProposalBean" parameterType="com.hz.domain.responseBean.ProposalModuleBean" resultMap="BaseResultMap">
  select a.id, a.title, a.content, a.module_id, a.industry_id, a.pic_id, a.customer_name, a.purpose_id, a.purpose_col1,
    a.purpose_col2, a.purpose_col3, a.pinpai_story, a.pinpai_actuality, a.customer_say, a.market_plan,
    a.effect_prediction, a.status, a.proposal_id,c.url,a.industry_name,a.purpose_name
     from
  h_advertising_proposal_detail b join h_customer_case b on b.module_id = a.module_id and b.data_id = a.id
  left join  h_pic_video c on a.pic_id = c.id
  where b.p_module_id = #{pModuleId,jdbcType=INTEGER} and b.parent_id = #{proposalId,jdbcType=INTEGER} and a.status = 1
  </select>
  <select id="getCustomerList" parameterType="com.hz.domain.CustomerCase" resultMap="BaseResultMap">
    <if test="customerName!=null"><bind name="pattern" value="'%'+customerName+'%'"></bind></if>
    select
    a.id, a.title, a.content, a.module_id, a.industry_id, a.pic_id, a.customer_name, a.purpose_id, a.purpose_col1,
    a.purpose_col2, a.purpose_col3, a.pinpai_story, a.pinpai_actuality, a.customer_say, a.market_plan,
    a.effect_prediction, a.status, a.proposal_id,b.url,a.industry_name,a.purpose_name
    from h_customer_case a left join h_pic_video b on a.pic_id = b.id
    <where>
      <if test="industryId != null">a.industry_id = #{industryId,jdbcType=INTEGER}</if>
      <if test="purposeId != null">and a.purpose_id =  #{purposeId,jdbcType=INTEGER} </if>
      <if test="customerName != null">and a.customer_name like #{pattern}</if>
      and a.status =1
    </where> order by a.id desc
  </select>
  <select id="countCustomer" parameterType="com.hz.domain.CustomerCase" resultType="java.lang.Integer">
    <if test="customerName!=null"><bind name="pattern" value="'%'+customerName+'%'"></bind></if>
    select
      count(0)
    from h_customer_case a
    <where>
      <if test="industryId != null">a.industry_id = #{industryId,jdbcType=INTEGER}</if>
      <if test="purposeId != null">and a.purpose_id =  #{purposeId,jdbcType=INTEGER} </if>
      <if test="customerName != null">and a.customer_name like #{pattern}</if>
      and a.status =1
    </where> order by a.id desc
  </select>
  <insert id="insert" parameterType="com.hz.domain.CustomerCase" >
    insert into h_customer_case (id, title, content, 
      module_id, industry_id,industry_name ,pic_id,
      customer_name, purpose_id, purpose_name,purpose_col1,
      purpose_col2, purpose_col3, pinpai_story, 
      pinpai_actuality, customer_say, market_plan, 
      effect_prediction, status, proposal_id, 
      creater_id, create_time, updater_id, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{moduleId,jdbcType=INTEGER}, #{industryId,jdbcType=INTEGER},#{industryName,jdbcType=VARCHAR} ,#{picId,jdbcType=INTEGER},
      #{customerName,jdbcType=VARCHAR}, #{purposeId,jdbcType=INTEGER}, #{purposeName,jdbcType=VARCHAR},  #{purposeCol1,jdbcType=VARCHAR},
      #{purposeCol2,jdbcType=VARCHAR}, #{purposeCol3,jdbcType=VARCHAR}, #{pinpaiStory,jdbcType=VARCHAR}, 
      #{pinpaiActuality,jdbcType=VARCHAR}, #{customerSay,jdbcType=VARCHAR}, #{marketPlan,jdbcType=VARCHAR}, 
      #{effectPrediction,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{proposalId,jdbcType=INTEGER}, 
      #{createrId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hz.domain.CustomerCase" >
    insert into h_customer_case
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
      <if test="industryName != null" >
        industry_name,
      </if>
      <if test="picId != null" >
        pic_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="purposeId != null" >
        purpose_id,
      </if>
      <if test="purposeName != null" >
        purpose_name,
      </if>
      <if test="purposeCol1 != null" >
        purpose_col1,
      </if>
      <if test="purposeCol2 != null" >
        purpose_col2,
      </if>
      <if test="purposeCol3 != null" >
        purpose_col3,
      </if>
      <if test="pinpaiStory != null" >
        pinpai_story,
      </if>
      <if test="pinpaiActuality != null" >
        pinpai_actuality,
      </if>
      <if test="customerSay != null" >
        customer_say,
      </if>
      <if test="marketPlan != null" >
        market_plan,
      </if>
      <if test="effectPrediction != null" >
        effect_prediction,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="proposalId != null" >
        proposal_id,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updaterId != null" >
        updater_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="industryName != null" >
        #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="picId != null" >
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="purposeId != null" >
        #{purposeId,jdbcType=INTEGER},
      </if>
      <if test="purposeName != null" >
        #{purposeName,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol1 != null" >
        #{purposeCol1,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol2 != null" >
        #{purposeCol2,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol3 != null" >
        #{purposeCol3,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiStory != null" >
        #{pinpaiStory,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiActuality != null" >
        #{pinpaiActuality,jdbcType=VARCHAR},
      </if>
      <if test="customerSay != null" >
        #{customerSay,jdbcType=VARCHAR},
      </if>
      <if test="marketPlan != null" >
        #{marketPlan,jdbcType=VARCHAR},
      </if>
      <if test="effectPrediction != null" >
        #{effectPrediction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="proposalId != null" >
        #{proposalId,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.domain.CustomerCase" >
    update h_customer_case
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="industryName != null" >
        industry_name = #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="picId != null" >
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="purposeId != null" >
        purpose_id = #{purposeId,jdbcType=INTEGER},
      </if>
      <if test="purposeName != null" >
        purpose_name = #{purposeName,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol1 != null" >
        purpose_col1 = #{purposeCol1,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol2 != null" >
        purpose_col2 = #{purposeCol2,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol3 != null" >
        purpose_col3 = #{purposeCol3,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiStory != null" >
        pinpai_story = #{pinpaiStory,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiActuality != null" >
        pinpai_actuality = #{pinpaiActuality,jdbcType=VARCHAR},
      </if>
      <if test="customerSay != null" >
        customer_say = #{customerSay,jdbcType=VARCHAR},
      </if>
      <if test="marketPlan != null" >
        market_plan = #{marketPlan,jdbcType=VARCHAR},
      </if>
      <if test="effectPrediction != null" >
        effect_prediction = #{effectPrediction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="proposalId != null" >
        proposal_id = #{proposalId,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz.domain.CustomerCase" >
    update h_customer_case
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=INTEGER},
      industry_id = #{industryId,jdbcType=INTEGER},
      industry_name = #{industryName,jdbcType=VARCHAR},
      pic_id = #{picId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      purpose_id = #{purposeId,jdbcType=INTEGER},
      purpose_name = #{purposeName,jdbcType=VARCHAR},
      purpose_col1 = #{purposeCol1,jdbcType=VARCHAR},
      purpose_col2 = #{purposeCol2,jdbcType=VARCHAR},
      purpose_col3 = #{purposeCol3,jdbcType=VARCHAR},
      pinpai_story = #{pinpaiStory,jdbcType=VARCHAR},
      pinpai_actuality = #{pinpaiActuality,jdbcType=VARCHAR},
      customer_say = #{customerSay,jdbcType=VARCHAR},
      market_plan = #{marketPlan,jdbcType=VARCHAR},
      effect_prediction = #{effectPrediction,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      proposal_id = #{proposalId,jdbcType=INTEGER},
      creater_id = #{createrId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>