<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.CustomerCaseMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.CustomerCase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="industry_id" property="industryId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="purpose_id" property="purposeId" jdbcType="INTEGER" />
    <result column="purpose_col1" property="purposeCol1" jdbcType="VARCHAR" />
    <result column="purpose_col2" property="purposeCol2" jdbcType="VARCHAR" />
    <result column="purpose_col3" property="purposeCol3" jdbcType="VARCHAR" />
    <result column="pinpai_story" property="pinpaiStory" jdbcType="VARCHAR" />
    <result column="pinpai_actuality" property="pinpaiActuality" jdbcType="VARCHAR" />
    <result column="customer_say" property="customerSay" jdbcType="VARCHAR" />
    <result column="market_plan" property="marketPlan" jdbcType="VARCHAR" />
    <result column="effect_prediction" property="effectPrediction" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="proposal_id" property="proposalId" jdbcType="INTEGER" />
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, title, module_id, industry_id, customer_name, purpose_id, purpose_col1, 
    purpose_col2, purpose_col3, pinpai_story, pinpai_actuality, customer_say, market_plan, 
    effect_prediction, status, proposal_id, creater_id, create_time, updater_id, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from h_customer_case
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, parent_id, title, module_id, industry_id, customer_name, purpose_id, purpose_col1,
    purpose_col2, purpose_col3, pinpai_story, pinpai_actuality, customer_say, market_plan,
    effect_prediction, status, proposal_id
    from h_customer_case where status =1 and parent_id = #{parentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from h_customer_case
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hz.domain.CustomerCase" >
    insert into h_customer_case (id, parent_id, title, 
      module_id, industry_id, customer_name, 
      purpose_id, purpose_col1, purpose_col2, 
      purpose_col3, pinpai_story, pinpai_actuality, 
      customer_say, market_plan, effect_prediction, 
      status, proposal_id, creater_id, 
      create_time, updater_id, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{moduleId,jdbcType=INTEGER}, #{industryId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, 
      #{purposeId,jdbcType=INTEGER}, #{purposeCol1,jdbcType=VARCHAR}, #{purposeCol2,jdbcType=VARCHAR}, 
      #{purposeCol3,jdbcType=VARCHAR}, #{pinpaiStory,jdbcType=VARCHAR}, #{pinpaiActuality,jdbcType=VARCHAR}, 
      #{customerSay,jdbcType=VARCHAR}, #{marketPlan,jdbcType=VARCHAR}, #{effectPrediction,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{proposalId,jdbcType=INTEGER}, #{createrId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hz.domain.CustomerCase" >
    insert into h_customer_case
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="purposeId != null" >
        purpose_id,
      </if>
      <if test="purposeCol1 != null" >
        purpose_col1,
      </if>
      <if test="purposeCol2 != null" >
        purpose_col2,
      </if>
      <if test="purposeCol3 != null" >
        purpose_col3,
      </if>
      <if test="pinpaiStory != null" >
        pinpai_story,
      </if>
      <if test="pinpaiActuality != null" >
        pinpai_actuality,
      </if>
      <if test="customerSay != null" >
        customer_say,
      </if>
      <if test="marketPlan != null" >
        market_plan,
      </if>
      <if test="effectPrediction != null" >
        effect_prediction,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="proposalId != null" >
        proposal_id,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updaterId != null" >
        updater_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="purposeId != null" >
        #{purposeId,jdbcType=INTEGER},
      </if>
      <if test="purposeCol1 != null" >
        #{purposeCol1,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol2 != null" >
        #{purposeCol2,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol3 != null" >
        #{purposeCol3,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiStory != null" >
        #{pinpaiStory,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiActuality != null" >
        #{pinpaiActuality,jdbcType=VARCHAR},
      </if>
      <if test="customerSay != null" >
        #{customerSay,jdbcType=VARCHAR},
      </if>
      <if test="marketPlan != null" >
        #{marketPlan,jdbcType=VARCHAR},
      </if>
      <if test="effectPrediction != null" >
        #{effectPrediction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="proposalId != null" >
        #{proposalId,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.domain.CustomerCase" >
    update h_customer_case
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="purposeId != null" >
        purpose_id = #{purposeId,jdbcType=INTEGER},
      </if>
      <if test="purposeCol1 != null" >
        purpose_col1 = #{purposeCol1,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol2 != null" >
        purpose_col2 = #{purposeCol2,jdbcType=VARCHAR},
      </if>
      <if test="purposeCol3 != null" >
        purpose_col3 = #{purposeCol3,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiStory != null" >
        pinpai_story = #{pinpaiStory,jdbcType=VARCHAR},
      </if>
      <if test="pinpaiActuality != null" >
        pinpai_actuality = #{pinpaiActuality,jdbcType=VARCHAR},
      </if>
      <if test="customerSay != null" >
        customer_say = #{customerSay,jdbcType=VARCHAR},
      </if>
      <if test="marketPlan != null" >
        market_plan = #{marketPlan,jdbcType=VARCHAR},
      </if>
      <if test="effectPrediction != null" >
        effect_prediction = #{effectPrediction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="proposalId != null" >
        proposal_id = #{proposalId,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz.domain.CustomerCase" >
    update h_customer_case
    set parent_id = #{parentId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=INTEGER},
      industry_id = #{industryId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      purpose_id = #{purposeId,jdbcType=INTEGER},
      purpose_col1 = #{purposeCol1,jdbcType=VARCHAR},
      purpose_col2 = #{purposeCol2,jdbcType=VARCHAR},
      purpose_col3 = #{purposeCol3,jdbcType=VARCHAR},
      pinpai_story = #{pinpaiStory,jdbcType=VARCHAR},
      pinpai_actuality = #{pinpaiActuality,jdbcType=VARCHAR},
      customer_say = #{customerSay,jdbcType=VARCHAR},
      market_plan = #{marketPlan,jdbcType=VARCHAR},
      effect_prediction = #{effectPrediction,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      proposal_id = #{proposalId,jdbcType=INTEGER},
      creater_id = #{createrId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>