<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.MediaMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.Media" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="media_name" property="mediaName" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="pic_id" property="picId" jdbcType="INTEGER" />
    <result column="import_level" property="importLevel" jdbcType="VARCHAR" />
      <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, media_name, summary, mobile,email, pic_id, import_level, creater_id, create_time, updater_id,
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    a.id,a.media_name,a.summary,a.mobile,a.email,a.import_level,b.url
    from h_media a left join h_pic_video b on a.pic_id = b.id
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from h_media
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hz.domain.Media" >
    insert into h_media (id, media_name, summary, 
      mobile, pic_id, import_level, 
      creater_id, create_time, updater_id, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{mediaName,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{picId,jdbcType=INTEGER}, #{importLevel,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hz.domain.Media" >
    insert into h_media
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mediaName != null" >
        media_name,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="picId != null" >
        pic_id,
      </if>
      <if test="importLevel != null" >
        import_level,
      </if>
        <if test="status != null" >
            status,
        </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updaterId != null" >
        updater_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mediaName != null" >
        #{mediaName,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="picId != null" >
        #{picId,jdbcType=INTEGER},
      </if>
      <if test="importLevel != null" >
        #{importLevel,jdbcType=VARCHAR},
      </if>
        <if test="status != null" >
            #{status,jdbcType=INTEGER},
        </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.domain.Media" >
    update h_media
    <set >
      <if test="mediaName != null" >
        media_name = #{mediaName,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
        <if test="email != null" >
            email = #{email,jdbcType=VARCHAR},
        </if>
      <if test="picId != null" >
        pic_id = #{picId,jdbcType=INTEGER},
      </if>
      <if test="importLevel != null" >
        import_level = #{importLevel,jdbcType=VARCHAR},
      </if>
        <if test="status != null" >
            status = #{status,jdbcType=INTEGER},
        </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz.domain.Media" >
    update h_media
    set media_name = #{mediaName,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      pic_id = #{picId,jdbcType=INTEGER},
      import_level = #{importLevel,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListMedia" parameterType="com.hz.domain.Media" resultMap="BaseResultMap">
    <if test="mediaName!=null"><bind name="pattern" value="'%'+mediaName+'%'"></bind></if>
    select a.id,a.media_name,a.summary,a.mobile,a.email,a.pic_id,a.import_level,b.url
    from h_media a left join h_pic_video b on a.pic_id = b.id
    <where>
      <if test="mediaName!=null">a.media_name like #{pattern}</if>
      <if test="mobile!=null">and a.mobile = #{mobile,jdbcType=VARCHAR}</if>
      <if test="importLevel"> and a.import_level = #{importLevel,jdbcType=VARCHAR}</if> and a.status = 1
    </where> order by a.id desc
  </select>

  <select id="selectListMedia1" resultMap="BaseResultMap">
    select id,media_name,import_level
    from h_media  where status =1
 order by id desc
  </select>

  <select id="countMedia" parameterType="com.hz.domain.Media" resultType="java.lang.Integer">
    <if test="mediaName!=null"><bind name="pattern" value="'%'+mediaName+'%'"></bind></if>
    select count(id)
    from h_media
    <where>
      <if test="mediaName!=null">media_name like #{pattern}</if>
      <if test="mobile!=null">and mobile = #{mobile,jdbcType=VARCHAR}</if>
      <if test="importLevel"> and import_level = #{importLevel,jdbcType=VARCHAR}</if> and status =1
    </where>
  </select>
</mapper>