<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.MethodResourceMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.MethodResource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="method_type" property="methodType" jdbcType="INTEGER" />
    <result column="media_id" property="mediaId" jdbcType="INTEGER" />
    <result column="industry_id" property="industryId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="light_exposure" property="lightExposure" jdbcType="VARCHAR" />
    <result column="pv" property="pv" jdbcType="VARCHAR" />
    <result column="import_level" property="importLevel" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="characteristic" property="characteristic" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="media_name" property="mediaName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, module_id, method_type, media_id, industry_id, price,light_exposure,pv, import_level, `desc`,
    characteristic, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    a.id, a.name, a.module_id, a.method_type, a.media_id, a.industry_id, a.price,a.light_exposure,a.pv, a.import_level, a.desc,
    a.characteristic, a.status ,b.media_name
    from h_method a join h_media b on a.media_id = b.id
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from h_method
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hz.domain.MethodResource" >
    insert into h_method (id, name, module_id, 
      method_type, media_id, industry_id, 
      price, import_level, `desc`,
      characteristic, status, creater_id, 
      create_time, updater_id, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{moduleId,jdbcType=INTEGER}, 
      #{methodType,jdbcType=INTEGER}, #{mediaId,jdbcType=INTEGER}, #{industryId,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{importLevel,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{characteristic,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createrId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hz.domain.MethodResource" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
    insert into h_method
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="moduleId != null" >
        module_id,
      </if>
      <if test="methodType != null" >
        method_type,
      </if>
      <if test="mediaId != null" >
        media_id,
      </if>
      <if test="industryId != null" >
        industry_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="importLevel != null" >
        import_level,
      </if>
      <if test="desc != null" >
        `desc`,
      </if>
      <if test="characteristic != null" >
        characteristic,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updaterId != null" >
        updater_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="methodType != null" >
        #{methodType,jdbcType=INTEGER},
      </if>
      <if test="mediaId != null" >
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="importLevel != null" >
        #{importLevel,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="characteristic != null" >
        #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.domain.MethodResource" >
    update h_method
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null" >
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="methodType != null" >
        method_type = #{methodType,jdbcType=INTEGER},
      </if>
      <if test="mediaId != null" >
        media_id = #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null" >
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="importLevel != null" >
        import_level = #{importLevel,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="characteristic != null" >
        characteristic = #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz.domain.MethodResource" >
    update h_method
    set name = #{name,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=INTEGER},
      method_type = #{methodType,jdbcType=INTEGER},
      media_id = #{mediaId,jdbcType=INTEGER},
      industry_id = #{industryId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      import_level = #{importLevel,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      characteristic = #{characteristic,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creater_id = #{createrId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectResourceList" parameterType="com.hz.domain.MethodResource" resultMap="BaseResultMap">
    select
    a.id, a.name, a.module_id, a.method_type, a.media_id, a.industry_id, a.price,a.light_exposure,a.pv, a.import_level, a.desc,
    a.characteristic, a.status
    from h_method a
    <if test="tagIds!=null"> join h_tag_method b on a.id = b.method_id</if>
      <where>
        <if test="mediaId != null">a.media_id = #{mediaId,jdbcType=INTEGER}</if>
        <if test="industryId != null">and a.industry_id = #{industryId,jdbcType=INTEGER}</if>
        <if test="importLevel != null"> and a.import_level = #{importLevel,jdbcType=VARCHAR}</if>
        <if test="tagIds !=null"> and b.tag_id in
          <foreach collection="tagIds" item="tagId" index="index" open="(" close=")" separator=",">
          #{tagId}
          </foreach>
        </if>
        and a.status = 1
      </where> order by a.id desc
  </select>
  <select id="countResources" parameterType="com.hz.domain.MethodResource" resultType="java.lang.Integer">
    select count(a.id) from
    h_method a
    <if test="tagIds!=null"> join h_tag_method b on a.id = b.method_id</if>
    <where>
      <if test="mediaId != null">a.media_id = #{mediaId,jdbcType=INTEGER}</if>
      <if test="industryId != null">and a.industry_id = #{industryId,jdbcType=INTEGER}</if>
      <if test="importLevel != null"> and a.import_level = #{importLevel,jdbcType=VARCHAR}</if>
      <if test="tagIds !=null"> and b.tag_id in
        <foreach collection="tagIds" item="tagId" index="index" open="(" close=")" separator=",">
          #{tagId}
        </foreach>
      </if>
      and a.status = 1
    </where>
  </select>
</mapper>