<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.RoleFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.RoleFunction" >
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="function_id" property="functionId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.hz.domain.RoleFunction" >
    insert into s_role_function (role_id, function_id)
    values (#{roleId,jdbcType=INTEGER}, #{functionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hz.domain.RoleFunction" >
    insert into s_role_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="functionId != null" >
        function_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="functionId != null" >
        #{functionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="selectFunctionIdByRoleId" parameterType="java.lang.Integer" resultType="java.lang.String">
    select a.function_id from s_role_function a join s_function b on a.function_id = b.id  where a.role_id =  #{roleId,jdbcType=INTEGER} and b.level != 0
  </select>

  <delete id="deleteRoleFunction" parameterType="java.lang.Integer">
    delete a from s_role_function a inner join s_function b on a.function_id = b.id where b.level !=0 and  a.role_id  =  #{roleId,jdbcType=INTEGER}
  </delete>
</mapper>