<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="uid" property="uid" javaType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, role_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hz.domain.Role" >
    insert into s_role (id, create_time, role_name
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{roleName,jdbcType=VARCHAR}
      )
  </insert>

  <select id="selectRoleByRole" parameterType="com.hz.domain.Role" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_role
    <where>
      <if test="id!=null">id = #{id,jdbcType=INTEGER}</if>
      <if test="roleName!=null">and role_name = #{roleName,jdbcType=VARCHAR}</if>
    </where>
  </select>
  <insert id="insertSelective" parameterType="com.hz.domain.Role" >
    insert into s_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.domain.Role" >
    update s_role
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz.domain.Role" >
    update s_role
    set
      role_name = #{roleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getRoleList" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select a.user_id,b.id,b.role_name,b.create_time from s_user_role a join s_role b on a.role_id = b.id
    where a.user_id = #{user_id,jdbcType=INTEGER}
  </select>
</mapper>