<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="token" property="token" jdbcType="VARCHAR"/>
    <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, password, status, username,token,update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from s_user
    where username = #{username,jdbcType=VARCHAR} and status = 1
  </select>
  <select id="selectUserList" resultMap="BaseResultMap" parameterType="com.hz.domain.User">
    <if test="username!=null"><bind name="pattern" value="'%'+username+'%'"></bind></if>
    select a.id,a.username,a.status  from s_user a
    <where>
      <if test="username!=null">username like #{pattern}</if>
      <if test="roleId!=null">and c.role_id = #{roleId,jdbcType=INTEGER} </if>
      <if test="status!=null">and a.status = #{status,jdbcType=INTEGER}</if>
    </where> order by id desc

  </select>
  <select id="countUserList" resultType="java.lang.Integer" parameterType="com.hz.domain.User">
    <if test="username!=null"><bind name="pattern" value="'%'+username+'%'"></bind></if>
    select count(distinct id) from s_user
    <where>
      <if test="username!=null">username like #{pattern}</if>
      <if test="roleId!=null">and c.role_id = #{roleId,jdbcType=INTEGER} </if>
      <if test="status!=null">and a.status = #{status,jdbcType=INTEGER}</if>
    </where>
  </select>

  <select id="selectRoleByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select a.id,a.username,a.status,a.token ,c.id as role_id,c.role_name from s_user a join s_user_role b on a.id  = b.user_id left outer join s_role c on b.role_id = c.id
where username = #{username,jdbcType=VARCHAR} and status = 1
  </select>

  <select id="selectUserInfoById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select a.id,a.username,a.status,a.token ,c.id as role_id,c.role_name from s_user a join s_user_role b on a.id  = b.user_id left outer join s_role c on b.role_id = c.id
where a.id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hz.domain.User" >
    insert into s_user (id, create_time, password,
      status, username)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertUser" parameterType="com.hz.domain.User">
        insert into s_user ( password,
      status, username)
    values ( #{password,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR})

  </insert>
  <insert id="insertSelective" parameterType="com.hz.domain.User" >
    insert into s_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="username != null" >
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>updateByPrimaryKey
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.domain.User" >
    update s_user
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz.domain.User" >
    update s_user
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>