<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.hz.domain.UserRole" >
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.hz.domain.UserRole" >
    insert into s_user_role (user_id, role_id)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hz.domain.UserRole" >
    insert into s_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <insert id="insertRoles" parameterType="java.util.ArrayList">
    insert into s_user_role (user_id,role_id) values 
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.userId},#{item.roleId})
    </foreach>
  </insert>
  <select id="getIdListByRole" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select a.user_id from s_user_role a join s_user b on a.user_id  = b.id where b.status =1 and a.role_id = #{arg0}
  </select>

  <select id="userRoles" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.user_id,a.role_id,b.role_name from s_user_role a left  join s_role b on a.role_id = b.id where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="getUserRoles" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id,role_id from s_user_role  where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <update id="update" parameterType="com.hz.domain.UserRole">
    update s_user_role
        set user_id = #{userId,jdbcType=INTEGER},
          role_id = #{roleId,jdbcType=INTEGER},
    <where>
      <if test="userId !=null">user_id = #{id,jdbcType=INTEGER}</if>
      <if test="roleId !=null">and role_id = #{roleId,jdbcType=INTEGER}</if>
    </where>
  </update>

  <delete id="deleteUserRoles" parameterType="java.lang.Integer">
        delete from s_user_role
    where user_id = #{user_id,jdbcType=INTEGER}
  </delete>
</mapper>